QDRANT_URL="https://8da3ca5c-e9a0-410a-81e0-6435d088626b.sa-east-1-0.aws.cloud.qdrant.io"
QDRANT_API_KEY="[chave_aqui]"
GROQ_API_KEY="[chave_aqui]"
GROQ_MODEL="llama3-8b-8192"
JWT_SECRET="sua_chave_secreta_aqui"
